<a href="https://colab.research.google.com/github/D-K-2000/D-K-2000-LetsUpgrade-Python/blob/master/LU_Python_DAY_3_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Question 1:


altitude = input("Enter the altitude:")
altitude = int(altitude)
if altitude > 5000:
  print("Turn Around")
elif altitude > 1000:
  print("Bring down to 1000ft")
else:
  print("Safe to land")

Enter the altitude:2000
Bring down to 1000ft

In [6]:
altitude = input("Enter the altitude:")
altitude = int(altitude)
if altitude > 5000:
  print("Turn Around")
elif altitude > 1000:
  print("Bring down to 1000ft")
else:
  print("Safe to land")

Enter the altitude:6000
Turn Around

In [7]:
altitude = input("Enter the altitude:")
altitude = int(altitude)
if altitude > 5000:
  print("Turn Around")
elif altitude > 1000:
  print("Bring down to 1000ft")
else:
  print("Safe to land")

Enter the altitude:500
Safe to land

In [25]:
#Question 2:

lower = 1
upper = 200
print("Prime numbers between", lower, "and" ,upper, "are:")
for num in range(lower,upper + 1):
  if num > 1:
   for i in range(2,num):
      if(num % i ) == 0:
        break
   else:
    print(num)

Prime numbers between 1 and 200 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199