<a href="https://colab.research.google.com/github/D-K-2000/D-K-2000-LetsUpgrade-Python/blob/master/LU_Python_DAY_4_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Question 4

for num in range(1042000,702648265):
    order=len(str(num))
    temp=num
    sum=0
    while temp >0:
        digit=temp%10
        sum=sum+digit**order
        temp=temp//10
        
        break
    if sum==num:
            
            print('The first armstrong number is ',num)

The first armstrong number is  4782969